<!-- SHOW ALL MY RECIPES PAGE -->
<%= render :partial => "partials/navigation_logged_in" %>
<!-- ADD NEW RECIPE TO MY RECIPES -->
<h4>MY RECIPES</h4>


<div class = "myRecipeFridgeContainer">

  <div class="fridgeClosed">
    <div class = "noteBox">
    <div class = "writtenRecipes">
      <% @user.recipes.each do |recipe| %>
        <div class = "recipeFridgeNote">
          •  <%= recipe.name %></br>
        </div>
      <% end %>
    </div>

    </div>
  <button class="addNewRecipe"><%= link_to "DELETE RECIPE", my_recipes_path, method: :delete %> </button>
  </div>
</div>

    <div class = "recipeCardText">
      <%= @recipe.name.upcase %></br>
      COOK TIME:<%= @recipe.total_time %></br>
      CALORIES PER SERVING: <%= @recipe.calories_per_serving %>
      <div class = "ingredientText">
         INGREDIENTS:</br> <%= @recipe.list_ingredients %>
      </div>
    </div>

<div class = "myRecipeCardContainer">
  <div class = "recipeCard">
      <%= image_tag @recipe.image_url, :class => "recipeCardPicture" %>
      INSTRUCTIONS: </br>
      <%= @recipe.instructions %>
<!--       <div class = "icon"></div> -->
  </div>
</div>

</div>
