<html>
  <header>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag "assets/stylesheets/header" %>
  </header>

<ul>
  <li><%= link_to "SIGN UP", :class => "navBar", :id => "signUp" %>
  </li>
  <li><%= link_to "LOG IN", :class => "navBar", :id => "logIn" %></li>
</ul>
<h6>
  When Your Fridge Gives You Lemons, Make...
</h6>

<%= render :partial => "log_in_modal" %>
<%= render :partial => "sign_up_modal" %>

</html>
