<html>
  <header>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=Caveat+Brush|Just+Me+Again+Down+Here|Damion' rel='stylesheet' type='text/css'>

   <link href='https://fonts.googleapis.com/css?family=Cedarville+Cursive' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "assets/stylesheets/header" %>
  </header>

<ul>
  <li id="logoLabel">LEMON-AID</li>
  <li><%= link_to "MY FRIDGE", all_ingredients_path, :method => :get, :class => "navBar" %></li>
  <li><%= link_to "RECIPE SEARCH", all_recipes_path, :method => :get, :class => "navBar"%></li>
  <li><%= link_to "MY RECIPES", my_recipes_path, :method => :get, :class => "navBar" %>
  </li>
  <li><%= link_to "LOG OUT", destroy_session_path, :class => "navBar" %></li>
  <li><%= image_tag @user.profile_image_url, :id => "profilePic" %></li>
  <h2>Welcome <%= @user.first_name %>!</h2>
</ul>



