<html>
  <header>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  </header>
<h1>LEMON-AID</h1>


<ul>
  <li><%= link_to "ALL RECIPES", all_recipes_path, :method => :get%></li>
  <li><%= link_to "INGREDIENTS INDEX" %></a></li>
  <li><%= link_to "MY RECIPES" %></a></li>
  <li><%= link_to "LOG OUT" %>
  <li><%= image_tag @user.profile_image_url, :id => "profilePic" %></li>
</ul>
<p>YOU ARE LOGGED IN</p>



</html>


