

<%= render :partial => "partials/navigation_logged_in" %>

<%= form_tag all_recipes_path, method: "get" do %>
  <%= submit_tag "WHAT'S FOR DINNER?", :id => "whatsForDinner" %>
<% end %>

<!-- FRIDGE -->
<div class = "editFridgeContainer">
<h3><%= @user.my_fridge.upcase%></h3>
  <div class="fridge">

      <% @user.ingredients.each do |ingredient| %>
      <div class = "fridgeIngredients">
        <%= image_tag ingredient.ingredient_image_url, :class=>
        "fridgeIngredientImage" %></br>
        <div class = "ingredientLabel">
          <%= ingredient.name %></br>
        </div>
      </div>

      <% end %>
  </div>
</div>

<div class= "searchBar">
<!-- SEARCH BAR BY NAME, ADD TO FRIDGE -->
  <%= form_tag(all_recipes_path, method: :get) do %>
    SEARCH BY:
    <%= select_tag "search", options_for_select(["name", "ingredients", "gluten-free", "paleo", "vegetarian", "vegan"]) %>
    <%= text_field_tag :query %>
    <%= submit_tag "Search Recipes", "class" => "searchButton"%>
  <% end %>
  <% if @paginate %>
    <%= paginate @recipes %>
  <% end %>
</div>
<!-- SHOW ALL RECIPES -->
<div class = "recipeContainer">
<% @recipes.each do |recipe| %>
  <div class= "recipeBox">
    <div class = "recipeShow">
      <%= recipe.name.upcase %>
      <%= image_tag recipe.image_url, :class => "recipeImage" %></br>
      <span class = "myRecipeQuickInfoName">BY: <%= recipe.user.handle %></span></br>
      <span class = "myRecipeQuickInfo">COOKED IN: </span>
        <%= recipe.total_time %> </br>
      <span class = "myRecipeQuickInfo">CALORIES: </span>
        <%= recipe.calories_per_serving %> </br>
      <div class = "firstComment">
      <% if recipe.comments.last %>
      USER SAYS: "<%= recipe.comments.last.comment_text %>!"
      <% elsif !recipe.comments.last %>
         no Reviews yet </br>
      <div id = "recipeLink">  <%= link_to "REVIEW ME" %> </div>
      <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>
</div>
