<!-- homepage -->
<html>
<header>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "assets/stylesheets/header" %>
  </header>
<body>

<!-- navbar -->
<ul>
  <li id = "signUp">SIGN UP</li>
  <li id = "logIn"> LOG IN</li>
  <li><% flash.each do |key,value|  %>
    <div class="<%= key %>" > <%= value %> </div>
<% end %></li>
</ul>

<%= render :partial => "partials/log_in_modal" %>
<%= render :partial => "partials/sign_up_modal" %>

</div>
<div id = "homeBody">
<%= image_tag "/assets/lemon_aid_logo.png", :id => "welcomeLogo" %>
</div>
</body>
</html>
<script>
$('document').ready(function() {

  $('.xButton').click(function() {
    $('#loginModal').css('display','none');
    $('#signUpModal').css('display','none');
  });

  //make modal show onclick
  $('#logIn').click(function() {
    $('#loginModal').css('display', 'block');
  });

  $('#signUp').click(function() {
    $('#signUpModal').css('display', 'block');
  });

});
</script>
