<%= render :partial => "partials/navigation_logged_in" %>
<% @ingredients.each do |ingredient| %>

  <div class = "ingredientBox">
    <span class = "ingredientTitle"><%= ingredient.name.upcase %></span></br>
    <%= image_tag ingredient.ingredient_image_url, :class => "ingredientImage" %></br>
    LASTS FOR: <%= ingredient.expiration %> days </br>
    Tag Name<%= ingredient %> </br>
  </div>
<% end %>



