<%= render :partial => "partials/navigation_logged_in" %>
<header>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
</header>
<!-- FRIDGE -->
<div class = "editFridgeContainer">
<h3><%= @user.my_fridge.upcase%></h3>
  <div class="fridge">

      <% @user.ingredients.each do |ingredient| %>
      <div class = "fridgeIngredients">
        <%= image_tag ingredient.ingredient_image_url, :class=>
        "fridgeIngredientImage" %></br>
        <div class = "ingredientLabel">
          <%= ingredient.name %></br>
        </div>
      </div>

      <% end %>
  </div>
</div>

<div class= "searchBar">
<!-- SEARCH BAR BY NAME, ADD TO FRIDGE -->
  <%= form_tag(all_ingredients_path, method: :get) do %>
    SEARCH BY:
    <%= select_tag "search", options_for_select(["name", "category"]) %>
    <%= text_field_tag :query %>
    <%= submit_tag "Search Ingredients", "class" => "searchButton"%>
  <% end %>

  <% if @paginate %>
    <%= paginate @ingredients %>
  <% end %>
</div>
<!-- SHOW INGREDIENTS -->

<div class = "ingredientContainer">
<% @ingredients.each do |ingredient| %>
  <div class= "recipeBox">
    <div class = "ingredientShow">
      <%= ingredient.name.upcase %></br>
      <%= image_tag ingredient.ingredient_image_url, :class => "recipeImage" %></br>
      <span class = "myRecipeQuickInfoName">EXPIRES IN: <%= ingredient.expiration %> days</span></br>
      <span class = "myRecipeQuickInfo">TAG NAME: #<%= ingredient.category.name %></span>
      <button class="addIngredientToFridge"><%= link_to "ADD TO FRIDGE", add_ingredient_path(@user.id, ingredient.id), method: :get %> </button>
    </div>
  </div>
<% end %>
</div>



